@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");
html, body {
  font-size: 16px;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease-out;
  color: var(--font-color);
  font-family: "Open Sans", sans-serif;
}

#grid {
  min-height: 100vh;
}

header {
  grid-area: header;
  position: sticky;
  z-index: 3;
  top: 0;
  font-size: 45px;
  padding: 0.3em 0.3em 0.3em 0.3em;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease-out;
}

header a {
  color: #0091ea;
  font-weight: 900;
  flex-grow: 1 1 auto;
  max-width: 50%;
}

@media only screen and (min-width: 1024px) {
  header {
    font-size: 60px;
  }
}

header nav {
  padding-right: 0.1em;
}

#documentCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #111;
  opacity: 0;
  transition: opacity 0.3s;
  display: block;
}

#documentCover.visible {
  z-index: 11;
  opacity: 0.2;
}

#sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 50%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 12;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: -50%;
  background-color: var(--secondary-color);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: right 0.3s;
  /* 0.3 second transition effect to slide in the sidenav */
  padding-top: 6rem;
  transition-timing-function: ease-out;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
}

@media only screen and (min-width: 1024px) {
  #sidebar {
    right: -25%;
    width: 25%;
  }
}

#sidebar a {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 0.3em;
}

#sidebar .closebtn {
  position: absolute;
  padding: 0.3em;
  top: -0.1em;
  right: 0;
  font-size: 45px;
}

@media only screen and (min-width: 1024px) {
  #sidebar .closebtn {
    font-size: 60px;
  }
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}

#options .languages {
  font-size: 1.2em;
  padding: 1.5rem 0;
}

main {
  appearance: none;
  grid-area: main;
}

main#indexMain {
  justify-self: center;
  align-self: start;
  letter-spacing: 1px;
}

main#indexMain button {
  background-color: var(--complementary-color);
  color: var(--font-color);
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  transition: background-color 0.3s ease-out, opacity 0.2s;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
}

main#indexMain button:hover {
  opacity: 0.85;
}

.buildings {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: column nowrap;
}

.buildings > * {
  display: flex;
  align-content: space-around;
  justify-content: center;
  margin-bottom: 2rem;
}

.buildings .building {
  cursor: pointer;
}

.buildings .building:nth-child(odd) {
  flex-flow: row wrap;
}

.buildings .building:nth-child(odd) h3 {
  background-color: var(--complementary-color);
}

.buildings .building:nth-child(even) {
  flex-flow: row-reverse wrap;
}

.buildings .building:nth-child(even) h3 {
  background-color: var(--primary-light);
}

.buildings .building img {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  flex: 0 0 100%;
}

@media only screen and (min-width: 1024px) {
  .buildings .building img {
    flex-basis: 50%;
    width: 50%;
  }
}

#currentBuilding {
  overflow: visible;
}

#currentBuilding::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 120%;
  top: -10%;
  left: -5%;
  z-index: 0;
  background-color: var(--primary-light);
  border-radius: 5rem;
  opacity: 0.4;
  transform: rotate(11deg);
}

h3 {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: lighter;
}

i {
  opacity: 0.85;
  transition: opacity 0.2s;
  cursor: pointer;
}

i:hover {
  opacity: 1;
}

aside {
  grid-area: aside;
  align-self: start;
}

footer {
  color: var(--light-text-color);
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  background-color: var(--primary-dark);
  transition: background-color 0.3s ease-out;
}

@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    align-items: stretch;
  }
}

footer .collumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer > * {
  flex: 1 1 33.3%;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a :visited {
  color: var(--link-color);
}

.languages [type=radio]:checked + label {
  background-color: var(--complementary-color);
  transition: background-color 0.3s ease-out;
}

svg {
  fill: var(--primary-light);
  transition: fill 0.3s;
}

:root {
  --primary-color: #0091ea;
  --primary-dark: #0064b7;
  --primary-light: #D1EDFF;
  --secondary-color: #c0c0c0;
  --font-color: #333;
  --link-color: #0366d6;
  --bg-color: #fff;
  --light-text-color: #fff;
  --complementary-color: #FFD8A3;
}

[data-theme="dark"] {
  --primary-color: #15001a;
  --primary-dark: #0c0713;
  --primary-light: #344065;
  --secondary-color: #666664;
  --font-color: #eee;
  --link-color: #0366d6;
  --bg-color: #0b001a;
  --light-text-color: #aaa;
  --complementary-color: #884FDE;
}

/*slider switch css ----------------------------------------
-----                                              ---------
------------------------------------------------------------*/
.theme-switch-wrapper {
  display: flex;
  height: auto;
  align-items: flex-end;
  color: var(--font-color);
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin: 0 5px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--primary-light);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.3s, background-color 0.3s ease-out;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--primary-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

input:checked + .slider.round:before {
  background-color: #CACACA;
}

.slider.round:before {
  border-radius: 50%;
  background-color: var(--complementary-color);
}
