@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");
html, body {
  font-size: 16px;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease-out;
  color: var(--font-color);
  font-family: "Open Sans", sans-serif;
}

header {
  grid-area: header;
  position: sticky;
  z-index: 10;
  top: 0;
  font-size: 45px;
  padding: 0.3em 0.3em 0.3em 0.3em;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
}

header a {
  color: #0091ea;
  font-weight: 900;
}

@media only screen and (min-width: 1024px) {
  header {
    z-index: 0;
    font-size: 60px;
  }
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  font-size: 16px;
}

header nav .languages {
  padding-top: 1em;
}

header nav select {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.2em;
  padding: 0.2em;
}

header nav select option {
  border: 2px solid var(--primary-color);
}

main {
  grid-area: main;
  justify-self: center;
  align-self: start;
}

aside {
  grid-area: aside;
  align-self: start;
}

footer {
  color: var(--light-text-color);
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 3rem;
  background-color: var(--primary-dark);
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #0091ea;
  --primary-dark: #0064b7;
  --primary-light: #64c1ff;
  --secondary-color: #e6e6e6;
  --font-color: #333;
  --link-color: #0366d6;
  --bg-color: #fff;
  --light-text-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #15001a;
  --primary-dark: #0c0713;
  --primary-light: #48286e;
  --secondary-color: #ffd600;
  --font-color: #ccc;
  --link-color: #0366d6;
  --bg-color: #0b001a;
  --light-text-color: #9d72ff;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  height: auto;
  align-items: flex-end;
  color: var(--font-color);
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin: 0 5px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--primary-light);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.3s, background-color 0.3s ease-out;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--primary-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

input:checked + .slider.round:before {
  background-color: var(--secondary-color);
}

.slider.round:before {
  border-radius: 50%;
}
