$background-transition: background-color 0.3s ease-out;
header {
  overflow: hidden;
  background-color: var(--bg-color);
  padding: 20px 10px;
  a {
    color: #0091ea;
    font-size: 50px;
    font-weight: 900;
  }
  nav {
    float: right;
  }
  // height: 0vh;
}

:root {
  --primary-color: #0091ea;
  --primary-dark: #0064b7;
  --primary-light: #64c1ff;
  --secondary-color: #e6e6e6;
  --font-color: #424242;
  --link-color: #0366d6;
  --bg-color: #fff;
  --heading-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #15001a;
  --primary-dark: #0c0713;
  --primary-light: #48286e;
  --secondary-color: #ffd600;
  --font-color: #aaa;
  --link-color: #0366d6;
  --bg-color: #0b001a;
  --heading-color: #9d72ff;
  #skybanner {
    text-shadow: var(--heading-color) 0 0 10px, var(--heading-color) 0 0 25px;
  }
}

.external-link {
  color: var(--link-color);
  border-bottom: 3px solid transparent;
  font-weight: 600;
  &:hover,
  &:focus {
    border-bottom: 3px solid currentColor;
  }
  &:after {
    font-family: "Font Awesome 5 Free";
    content: "\f35d";
    display: inline-block;
    padding-left: 1em;
    vertical-align: text-top;
    font-weight: 900;
  }
}

#skybanner {
  background-color: var(--primary-color);
  color: var(--heading-color);
  height: 70vh;
  border-bottom: 3px solid transparent;
  font-size: 30px;
  letter-spacing: 0.05em;
  font-weight: bold;
  transition: $background-transition;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  * {
    padding: 0.2rem;
  }
  :last-child {
    margin-bottom: 10vh;
  }
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: calc(1rem + 0.25vh);
  transition: $background-transition;
  height: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: stretch;
  width: 80%;
  margin: -5vh 10% 0 10%;
}

.card {
  flex: 1 1 50%;
  max-width: 450px;
  height: 300px;
  border: 4px solid var(--secondary-color);
  padding: 1em;
  margin: 0 1.5em 3em 1.5em;
  border-radius: 5px;
  background-color: var(--bg-color);
}

footer {
  height: 20vh;
  text-align: center;
  background-color: var(--primary-dark);
  color: var(--heading-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  height: em;
  align-items: flex-end;
  color: var(--font-color);
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin: 0 5px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--primary-light);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.3s, $background-transition;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--primary-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

input:checked + .slider.round:before {
  background-color: var(--secondary-color);
}

.slider.round:before {
  border-radius: 50%;
}
