.aboutPage{
.grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1.5em;
  grid-template-areas: "header"
    "main"
    "footer";
}



.aboutMain {
  position: relative;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.4em;
  text-align: justify;
  background: linear-gradient(135deg, var(--primary-color), var(--complementary-color));
  padding: 0.3rem;
  .aboutWrapper {
    padding: 1em;
    background-color: var(--bg-color);
  }
  .h1Title{
    font-size: 2em;
    font-weight: 200;
    line-height: 2em;
  }

  .genericHeadings{
    line-height: auto;
    text-align: left;
    ul {
      list-style-type: circle;
      list-style-position: inside;
    }
    h1{
      font-size:32px;
      line-height: 1.4em;
    }
    h2{
      font-size:24px;
      line-height: 1.4em;
    }
    h3{
      font-size:20px;
      line-height: 1.4em;
    }
    h4{
      font-size:18px;
      line-height: 1.4em;
    }
    h5{
      font-size:18px;
      line-height: 1.4em;
    }
    h6{
      font-size:16px;
      line-height: 1.4em;
    }
  }
  @media only screen and (min-width: 1024px) {
    max-width: 800px;
    margin: 0 auto;
  }
  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      height: 100%;
      width: 30%;
      padding: 1em;
    }
  }

}

}
