.dateRange{
  text-transform: capitalize;
  :last-child {
    svg{
    transform: rotate(-90deg);
    color: var(--font-color);
    }
    span{
      display: inline-block;
      transform: translate(0, 0.3em);
    }
  }
  svg{
    font-size: 2.2em;
    vertical-align: middle;
  }
  span{
    padding-left: 0.3em;
  }
}
