.indexPage{
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 1.5em;
  grid-template-areas: "header header "
    "main main"
    "aside aside"
    "footer footer";
}

@media only screen and (min-width: 1024px) {

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 2rem;
    grid-template-areas: "header header "
      "main aside"
      "footer footer";
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

main{
  appearance: none;
  grid-area: main;
  justify-self: center;
  align-self: start;
  letter-spacing: 1px;
  font-weight: lighter;
  h2{
    font-size: 1.5rem; 
    margin-bottom: 1rem; 
    line-height: 1em;
  }
  button {
    background-color: var(--complementary-color);
    color: var(--font-color);
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    transition: var(--background-transition), opacity 0.2s;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: lighter;
    display: flex;
    align-items: center;
  }

  button:hover {
    opacity: 0.85;
  }
}

@media only screen and (min-width: 1024px) {
  aside {
    z-index: 3;
  }
}

aside {
  overflow: hidden;
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
}

.blob{
  fill: var(--primary-light);
  transition: fill 0.3s;
}

aside {
  grid-area: aside;
  // justify-self: center;
  align-self: start;
}

main {
  margin-top: 0;
}

.lastBuilding img {
  position: relative;
  width: 140%;
  left: -20%;
  padding-bottom: 0.5rem;
}

.blob {
  width: 120%;
  position: relative;
  top: 0%;
  left: -10%;
  z-index: 1;
}

.lastBuilding {
  width: 60%;
  text-align: right;
  position: absolute;
  top: 0px;
  left: 20%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  z-index: 2; 
  line-height: 1.5em;
  :not(a){
    color: var(--font-color);
  }
  svg{
    fill: var(--link-color)
  }
  :first-child:not(svg){
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    align-self: baseline; 
    font-size: 1.5em; 
    line-height: 2em;
    font-weight: lighter; 
  }
  h3{
    font-size: 1.3em;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1024px) {

  main {
    margin-top: 25%;
  }

  aside {
    overflow: visible;
    position: relative;
    top: 0%;
    left: -10%;
    width: 80%;
  }

  .lastBuilding img {
    position: relative;
    width: 100%;
    left: -0%;
  }

  .blob {
    width: 120%;
    position: relative;
    top: 0%;
    left: -10%;
    z-index: 1;
  }

  .lastBuilding {
    width: 80%;
    position: absolute;
    top: 0%;
    left: 10%;
  }
}

}
