.projectPage{
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 1em;
  grid-template-areas: "header header "
    "aside aside"
    "main main"
    "footer footer";
}

@media only screen and (min-width: 1024px) {

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto minmax(60%, auto) auto;
    grid-gap: 1rem;
    grid-template-areas: "header header "
      "main aside"
      "footer footer";
  }
}

.projectTitle {
  font-weight: lighter;
  font-size: 2em;
  line-height: 2em;
}


li{
  div{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  width: 100%;
  padding-top: 0;
  height: 0;
  background-color: var(--primary-light);
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
}

aside {
  grid-area: aside;
  
  @media only screen and (min-width: 1024px) {
    border-radius: 0.5em;
  }
}

main {
  width: 100%;
  overflow: hidden;
  appearance: none;
  grid-area: main;
}

.building {
  width: 90%;
  position: relative;
  top: 0px;
  left: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4em;
  a {
    line-height: 2.5em;
  }
  p {
    text-align: justify;
  }
  .titleImg{
    order: -1;
    height: 6em;
    width: 6em;
    align-self: flex-end;
    position: absolute;
    top: 0;
    padding: 0.7em;
    border-radius: 50%;
    background-color: #FFF;
    div{
      margin: 0px auto;
      height: 100%;
    }
  }
  button {
    background-color: var(--complementary-color);
    color: var(--font-color);
    border: none;
    border-radius: 1rem;
    padding: 0.2em 0.6em;
    transition: var(--background-transition), opacity 0.2s;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: lighter;
    display: flex;
    align-items: center;
  }

  button:hover {
    opacity: 0.85;
  }
}



.currentBuilding>* {
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 1024px) {
  aside {
    overflow: hidden;
    position: relative;
    right: 5%;
  }

  main {
    margin: 0 0;
    width: 100%;
    align-self: flex-start;
    overflow: visible;
  }

  .building {
    width: 80%;
    position: relative;
    top: 0px;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
}
.carousel {
  button svg {
    font-size: 2.2rem;
    stroke: #666;
    stroke-width: 1rem;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
  }
}
